<!DOCTYPE html>
<html>

<head>
  <title>Candlestick Chart</title>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Anychart -->
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style>
    html,
    body,
    #container {
      width: 100%;
      height: 99%;
      margin: 0;
      padding: 0;
    }
    .active {
      background-color: lawngreen;
    }
    </style>
</head>

<body>
  <div id=options> 
    <button id="1M" class="timeframe active">1M</button>
    <button id="1w" class="timeframe">1w</button>
    <button id="1d" class="timeframe">1d</button>
    <button id="4h" class="timeframe">4h</button>
    <button id="1h" class="timeframe">1h</button>
    <button id="5m" class="timeframe">5m</button>
  </div>
  <div id="container"></div>
</body>

<script>
  anychart.onDocumentReady( drawChart("1M") );


  $(".timeframe").on("click", (event) => {
    $(".active").removeClass("active")
    $('#' + event.target.id).addClass("active")
    $('#container').empty()
    drawChart(event.target.id)
  })
  
  

function drawChart(active) {

 

  anychart.data.loadCsvFile(`./candles_${active}.csv`, function (data) {
    var dt = anychart.data.table()
    dt.addData(data);

    console.log(data)
    var mapping = dt.mapAs({
      'open': 1,
      'close': 2,
      'high': 3,
      'low': 4
    });
    
    var scrollerMapping = dt.mapAs();
    scrollerMapping.addField('value', 5);
    
    var chart = anychart.stock();
    var plot = chart.plot(0)
    plot.yGrid(true).xGrid(true).yMinorGrid(true).xMinorGrid(true);
    
    var series = plot.candlestick(mapping);
    series.name('coin');
    series.legendItem().iconType('rising-falling');
    
    chart.scroller().candlestick(mapping);
    
    chart.title("Candlestick data");

    var theme = {
      "palette": {"type": "","items": ['#36AF4A','#DA462F']}
    }
    
    anychart.theme(theme);
    
    var ema12 = plot.ema(mapping,12).series()
    var ema26 = plot.ema(mapping,26).series()

    ema12.stroke('#36AF4A')
    ema26.stroke('#DA462F')

    chart.container('container');
    
    chart.draw();
    
    // create range picker
    var rangePicker = anychart.ui.rangePicker();
    // init range picker
    rangePicker.render(chart);
    
    // create range selector
    var rangeSelector = anychart.ui.rangeSelector();
    // init range selector
    rangeSelector.render(chart);

  })
}
</script>

</html>